html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Tahoma', Roboto, Oxygen, Ubuntu, Cantarell, 'Tahoma', 'Helvetica Neue', sans-serif;
  /* overflow: hidden; */
}

.container{
  width: 100%;
  height: 100vh;
}
.container-green{
  width: 40%;
  height: 100vh;
  background-color: #7EB5A6;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


/* floating form */
.float{
  position: relative;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
display: flex;
justify-content: space-between;
}




.float-left-green{
  width: 37.5%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.float-left-green img{
  height: 300px;
}
.float-text{
  width: 60%;
  text-align: center;
  font-size: 18px;
  font-weight: 450;
}
.float-right-white{
    width: 62.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-choice{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-choice h3{
  margin:30px 24px;
  cursor: pointer;
  padding:4px;
}
/* FORM INPUT */
.form{
  width: 70%;
  margin: auto;
}
.input-container{
	position:relative;
	margin-bottom:35px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#333;
	transition: all 0.2s ease-in-out;
}
.input-container input{
  border:0;
  border-bottom:2px solid #555;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#333;
}
.input-container input:focus{
 border:none;
 outline:none;
 border-bottom:2px solid #1AEAB5;
}
.btn{
  width: 100%;
	color:#fff;
	background-color:#7EB5A6;
	outline: none;
    border: 0;
    color: #333;
	padding:15px 20px;
	text-transform:uppercase;
	margin-top:30px;
	border-radius:8px;
	cursor:pointer;
	position:relative;
  font-weight: bold;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}

/* Admin Button */
.button_cont{
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.example_f {
   border-radius: 4px;
   border: none;
   /* background:  !important; */
   color: #86340A;
   text-align: center;
   text-transform: uppercase;
   font-size: 18px;
   padding: 10px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   font-weight: 900;
 }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }


 /* Modal */
 .modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}
/* targets id without js */
.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__close {
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
/* ERROR */
#error, #modal-error{
  height: 0px;
  color: red;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}
