/* navbar bgcolor */
.navbar{
  background-color: #317C64;
}
.navbar-dark .navbar-nav .nav-link{
  color:rgba(255,255,255,1)
}

/* ============================================ */
/* body content */
.margin-20{
  margin: 20px;
}
