

/* navbar bgcolor */
.navbar{
  background-color: #317C64;
}
.navbar-dark .navbar-nav .nav-link{
  color:rgba(255,255,255,1)
}
/* ERROR */
#error, #modal-error{
 /* height: 0px; */
 color: red;
 font-size: 16px;
 text-align: center;
 margin: 0;
 padding: 10px;
}
/* ============================================ */
/* body content */
.padding-20{
  padding: 20px;
}
/* search */
.content{
  /* border: 1px solid #333; */
  display: block;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
  box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
}
.search-top{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #a1a1a1;
    padding: 15px 50px;
    width: 100%
}

.scrollable-cards{
  padding: 20px;
  overflow: auto;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  height: 55vh;
  max-height: 55vh;
}
.btn-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  transition: all ease-out 0.2s;
  height: 120px;
  width: 120px;
  transform: scale(1.2);
  margin: 20px;

}
.btn-cards img{
   width: 60px;
}
.btn-cards:active{
  transform: scale(1);
}
.btn-cards p {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
}
.btn-cards h4{
  font-size: 16px;
  font-weight: 500;
}
/* buttons */
.choices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;

}
.btn-choices{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 10px;
}
.btn-choices img{
    width: 40px;
}
.btn-choices-add{
  background:#157347;
  border-color: #198754;
  color:#fff;
}
/* others button */
.others{
  flex-direction: row;
}
.others img{
    width: 80px;
}

/* order buttons */
.order-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin:10px 10px 0 0;
}
.order{
  flex-grow: 0;
  padding: 10px 20px;
}

/* CHECKOUT */
.no-pad{
  padding: 0;
}
.Price{
  padding-left:20px;
}
.no-margin{
  margin: 0;
}
.text-wrap{
  text-align: left;
}
.checkout-flex{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a1a1a1;
  padding: 7px 0;
}
.v-height{
  max-height: 60%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
}
/* header */

.checkout{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
  box-shadow: 2px 2px 5px 0px rgba(84,84,84,1);
  overflow: hidden;
  max-height: 80vh;

}
.checkout h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkout-header{
  background-color: #878787;
  color: #fff;
  display: flex;

}

/* checkout content */
.v-border{
  border-bottom: 1px solid #a1a1a1;
}
.no-bgcolor-border{
  background: none;
  border: 0px;
}
.pad-marg{
  padding: 0;
  margin:  10px 6px;
}

.pad-marg img{
  margin-right: 10px;
  cursor: pointer;
}
.pad-marg i{
  margin: 0 3px;
  cursor: pointer;
}
/* checkout price */
.checkout-price{
  padding: 0px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-price h6 span{
  color:#a1a1a1;
}
.v-price{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  border-top: 1px solid #a1a1a1;
}
.v-price button{
  width: 100%;
  background: #317C64;
  font-weight: 600;
  color: #fff;
}

/* some position for x badge */
.v-badge{
  transform: translate(-100%, -20%)!important;
  border-radius: 0rem!important;
  color: red;
  font-size: 20px;
  padding: 3px;
}

/* ================================ */

/*   MODAL*/
 #loading_wrap{
  position: absolute;
  top: 45%;
  left: 50%;
  display: none;

}
.loading_div{
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  background: rgba(77, 77, 77, .7);
}

/* Modal */
.modal {
 visibility: hidden;
 opacity: 0;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(77, 77, 77, .7);
 transition: all .4s;
}
.modal__content {
 border-radius: 10px;
 position: relative;
 width: 500px;
 max-width: 90%;
 background: #fff;
 padding: 1em 2em;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.modal__content .btn {
  margin: 8px;
  width: 40%;
}
.modal__close {
 font-size: 24px;
 position: absolute;
 top: 10px;
 right: 10px;
 color: #585858;
 text-decoration: none;
}
